<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <title>Elrond CFH</title>
</head>
<body>
  <section class="header container-fluid">
    <div class="header-top">
      <span class="heading">Cards for Humanity</span>
      <span class="header-links">
        <a href="">Home</a>
        <a href="how-to-play">How to play</a>
        <a href="team">Team</a>
        <a href="signin">Signin</a>
        <a href="charity">Charity</a>
        <a href="signup" class="secondary-link">Sign Up</a>
      </span>
    </div>
    <div class="header-body">
      <div class="section-heading">
        Cards For Humanity
      </div>
      <div class="sub-text-default">
        A Game For Horrible People Desprately trying to be Good
      </div>
      <div class="header-action-btn-container">
        <span class="header-btn-container">
          <button class="btn btn-secondary">Sigup</button>
        </span>
        <span class="header-btn-container">
            <button class="btn btn-primary">Join Game</button>
          </span>
      </div>
    </div>
  </section>
  <section class="how-to-play container-fluid">
    <div class="section-heading">How to Play</div>
    <div class="card col-lg-3 col-md-4 col-sm-6"></div>
    <div class="card col-lg-3 col-md-4 col-sm-6"></div>
    <div class="card col-lg-3 col-md-4 col-sm-6"></div>
    <div class="card col-lg-3 col-md-4 col-sm-6"></div>
  </section>
  <section class="charity container-fluid">
    <div class="section-heading">
      Charity
    </div>
    <div class="sub-text-bolder">
      "If you don't give back, no one will like you" - crowdrise.com
    </div>
    <span class="charity-card-container row">
      <span class="charity-card card col-lg-4 col-sm-12 col-md-4">
        <div>MAKE AN IMPACT</div>
        <div>$701 Amount Raise</div>
        <div><button class="btn btn-primary btn-large">DONATE NOW</button></div>
      </span>
    </span>
    <span class="make-a-wish">
      <div class="text">All Donations go to Make-A-wish Foundation and benefit children in need.</div>
      <div class="logo">
      </div><img src="/img/make-a-wish.png" alt="Make-A-Wish Foundation Logo">
      </div>
    </span>
  </section>
  <section class="meet-the-team container-fluid">
    <div class="section-heading">
      THE TEAM
    </div>
    <div class="the-team-thumbs">
      <div class="team-member-container">
        <img src="/img/team-mate-1.png" alt="Team Mate Name">
      </div>
      <div class="team-member-container">
        <img src="/img/team-mate-2.png" alt="Team Mate Name">
      </div>
      <div class="team-member-container">
        <img src="/img/team-mate-3.png" alt="Team Mate Name">
      </div>
      <div class="team-member-container">
        <img src="/img/team-mate-4.png" alt="Team Mate Name">
      </div>
      <div class="team-member-container">
        <img src="/img/team-mate-5.png" alt="Team Mate Name">
      </div>
      <div class="team-member-container">
        <img src="/img/team-mate-6.png" alt="Team Mate Name">
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>