<div id="question-container-inner" class="card-1">
    <div class="card longBlack">
        <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

        <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

        <div id="startGame" ng-show="game.state === 'awaiting players'">
            <div class="row">
            <div id="finding-players" class="col s12 m12 l12">Finding Players</div>
            <div id="player-count-container" class="col s12 m4 l4">
                <div id="player-count">{{game.players.length}} / 12 Players</div>
            </div>
            <div id="loading-container" class="s12 m8 l8">
                <div id="loading-gif"><img ng-src="../img/loaders/spinner.gif" width="50" height="50"/></div>
            </div>
            <div class="start col s12 m12 l12" >
                <div data-target="modal1" class="modal-trigger" id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0)">
                    <div id='start-game-button' class="col s12 m6 l6 card-1">
                        Start Game
                    </div>
                    <div data-target="modal-invite" class="modal-trigger" id="start-game-container" ng-click="invitePlayers()" ng-show="showInviteButton">
                        <div id='invite-to-game' class="col s12 m6 l6 card-1 deep-purple lighten-1">
                            Invite Players
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Game Over Stuff -->
        <div id="game-end-info">
            <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
                <div class="game-end-headline">What the!? The game ended because too many people left! </div>
                Our sincere apologies.
            </div>
            <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
                <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it
                all for youself.
            </div>
            <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
                <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
                That makes you a loser, unfortunately.
            </div>
        </div>
    </div>
</div>





<div id="modal1" class="modal modal-invite">
    <div class="modal-content">
        <p>Sorry! You require a minimum of three(3) players to play this game</p>
    </div>
    <div class="modal-footer" style="padding:0px 20px">
        <button data-target="modal-invite" class="btn right modal-trigger  modal-action modal-close" id="start-game-container" ng-click="invitePlayers()" ng-show="showInviteButton">Invite a Player</button>&nbsp
        <button class="btn btn-danger left modal-action modal-close">Cancel</button>
    </div>
</div>
<!--  -->
<div id="modal-invite" class="modal modal-invite">
            <div class="modal-header" style="padding:0px 20px">
        <a id="close" class=" right modal-action modal-close">&times;</a>
    </div>
    <div class="modal-content">
        <h4>Invite Players</h4>
        <div class="box">
  <div class="searchBar">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="text" id="search" ng-keyup="searchedUsers()" ng-model="userName"   placeholder="Search for a user.." aria-required="true" />
  </div>
</div>
        <!-- <input type="text" ng-keyup="searchedUsers()" ng-minlength="0" ng-model="userName" placeholder="Search for a user" class="form-control" id="userName" required="" aria-required="true"> -->
        <!-- <button class="btn"  id="inviteFriends">Search</button> -->

        <div id="foundUsers">
            <table class="highlight">
                <thead class="thead-default">
                </thead>
                <tbody>
                    <tr ng-repeat="user in foundUsers" ng-show="usersInvited.indexOf(user.email) <= -1 && user.email !== currentUserEmail">
                        <td>{{user.name}}</td>
                        <td><a class="inviteButton" ng-click="addAsFriends(user.email)" ng-show="myFriends.indexOf(user.email) <= -1">add as Friend</a> 
                            <span ng-show="myFriends.indexOf(user.email) > -1"><a class="inviteButton" id="inviteButton" ng-click="sendFriendInvite(user.email)">invite</a></span></td>
                        <td> <a class="inviteButton" id="user.email" ng-click="sendInvite(user.email)" ng-show="sendInviteButton">Send email</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!--Start Game modal -->
<div class="modal startModal" id="start-modal">
    <div class="modal-content">
        <h4 id="shuffleText">You are the Czar - Click card to pick the next question</h4>
        <div class="center">
            <div ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style='margin: auto;'>
                <img src='../img/card.png' style='width: 100px;' class='animated flipInX' id='shufflecard1' />
                <img src='../img/card.png' style='width: 100px;' class='animated flipInX' id='shufflecard2' />
                <img src='../img/card.png' style='width: 100px;' class='animated flipInX' id='shufflecard3' />
                <img src='../img/card.png' style='width: 100px;' class='animated flipInX' id='shufflecard4' />
                <img src='../img/card.png' style='width: 100px;' class='animated flipInX' id='shufflecard5' />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#start-modal').modal();
    });
</script>