<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Invite a Player</button>

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="$('#myModal').modal('show')" data-target="#exampleModal">
  Invite a Friend
  </button> -->
      <!--Modal trigger  -->
        <!-- <a class="waves-effect waves-light btn modal-trigger" ng-click="$('#modal1').modal('show')"> Invite Friends </a> -->
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)">
        <div id='start-game-button'>
          We have </br>{{game.players.length}} player</br>
          we need {{game.playerMinLimit - game.players.length}} to start
        </div>
      </div>
    </div>
   

    <div  id="modal1" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <h5 class="title modalMsg"></h5>
          <p class="modalMsg"></p>

        </div>
      </div>
    </div>
    <!--Modal  -->
     <!-- <div id="modal1" class="modal">
      <div class="modal-content">
                <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="$('#modal1').modal('hide')">Close</a>

        <h5 class="title modalMsg">Modal Header</h5>
        <p class="modal-body modalMsg"></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>  -->
     
    
    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p id ="message">{{ messages }}</p>
        <input type="text" ng-model="userName"  placeholder="Search for a user" class="form-control" id="userName">
              <button class="btn btn-primary" ng-click="searchedUsers()" >Search</button>
<div id="foundUsers">

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Name:</th>
        <th>Add to Friends</th>
        <th>Send Invite</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in foundUsers">
        <th>{{$index + 1 }}</th>
        <td >{{user.name}}</td>
        <td><button class="btn btn-primary">Add</button></td>
        <td><button class="btn btn-primary inviteButton" ng-click="sendInvite(user.email)">Send</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>

