<div id="main-bod" ng-controller="IndexController" class="signinForm">
    <nav class="nav-extended default">
        <div class="nav-wrapper">
          <span class="heading">Cards for Humanity</span>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/#!/">Home</a></li>
            <li ng-hide="showOptions"><a href="/#!/dashboard">Dashboard</a></li>
            <li><a href="/#!/#how-to-play">How to play</a></li>
            <li><a href="/#!/#charity">Charity</a></li>
            <li><a href="/#!/#team">Team</a></li>
            <li ng-show="showOptions"><a href="#!/signin" class="secondary-link">Sign In</a></li>
            <li ng-show="showOptions"><a href="#!/signup" class="secondary-link">Sign Up</a></li>
            <li ng-hide="showOptions"><a ng-click="logout()" class="secondary-link">Logout</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/#!/">Home</a></li>
            <li ng-hide="showOptions"><a href="/#!/dashboard">Dashboard</a></li>
            <li><a href="/#!/#how-to-play">How to play</a></li>
            <li><a href="/#!/#charity">Charity</a></li>
            <li><a href="/#!/#team">Team</a></li>
            <li ng-show="showOptions"><a href="#!/signin" class="secondary-link">Sign In</a></li>
            <li ng-show="showOptions"><a href="#!/signup" class="secondary-link">Sign Up</a></li>
            <li ng-hide="showOptions"><a ng-click="logout()" class="secondary-link">Logout</a></li>
          </ul>
        </div>
      </nav>
  <div class="row signinOverall" id="homer" style="margin-top:30px">
    <div class="col s12 m2 l3"><p></p></div>
    <div class="col s12 m8 l6 signinWrapper">
      <div class="signinHeader">
        Login
      </div>

      <div class="row">

        <div class="sign-error" style="margin-top: 10px;" ng-show="errStatus">
          <span style="color: red; font-family:'Delius'">{{signinErrorMsg}}</span>
        </div>
        <form class="col s12">
          <br>
          <div class="row signupIn">
            <div class="input-field col s12">
              <input id="name" ng-model="email" type="email" class="validate">
              <label for="name">Email</label>
            </div>
          </div>
          <div class="row signupIn">
            <div class="input-field col s12">
              <input id="password" ng-model="password" type="password" class="validate">
              <label for="password">Password</label>

            </div>
          </div>
          <br>
          <div class="row">
            <button id="sign-up-btn-other" ng-click="signin()" type='submit' 
            class="col s12 signinBtn waves-effect waves-light btn-signin btn">SIGN IN</button>
          </div>
        </form>
      </div>
      <div class="signinSocial">
        <hr>
        <p>or sign in with</p>
        <a href="/auth/facebook" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/facebook.png" width="50px" height="50px" alt="facebook">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/github" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/github.png" width="50px" height="50px" alt="github">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/google" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/google-plus.png" width="50px" height="50px" alt="google">&nbsp;&nbsp;&nbsp;
        </a>
        <!-- <a href="/auth/twitter" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/twitter.png" width="50px" height="50px" alt="facebook">
        </a> -->
        <br><br>
      </div>
    </div>
    <div class="col s12 m2 l3"><p></p></div>
  </div>
</div>
