<div id="main-bod">
  <div class="row myLogo">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><h4>Cards of Humanity</h4></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row signupOverall" id="homer">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l5 signupWrapper">
      <div class="signupHeader">
        Sign up
      </div>
      <br>
      <h4>create a username/password and select an avatar</h4>
      <div class="row">
        <form class="col s12" action="/users" method="post">
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" class="validate" required>
              <label for="name">Full Name</label>
            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="validate" required>
              <label for="Email">Email</label>
            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div id="contain-avatars" class="row signUp">
            <ul ng-controller="IndexController" class="input-field avatar-list">
              <li ng-repeat="avatar in avatars" class="input-field avatars ng-scope">
                <input name="avatar" class="with-gap" type='radio' value="{{$index}}">
                  <img ng-src="{{avatar}}" width="50px">
                </input>
              </li>
            </ul>
          </div>  
          <div class="row">
            <button id="sign-up-btn-other" type='submit' class="col s12 signinBtn waves-effect waves-light btn">SIGN UP</button>
          </div>
        </form>
      </div>
      <div class="signinSocial">
        <hr>
        <p>or sign up with</p>
        <a href="/auth/facebook">
          <img src="/img/icons/facebook.png" width="50px" height="50px" alt="facebook">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/github">
          <img src="/img/icons/github.png" width="50px" height="50px" alt="github">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/google">
          <img src="/img/icons/google-plus.png" width="50px" height="50px" alt="google">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/twitter">
          <img src="/img/icons/twitter.png" width="50px" height="50px" alt="facebook">
        </a>
        <br><br>
      </div>
    </div>
    <div class="col s12 m4 l3"><p></p></div>
  </div>
</div>



