<div id="main-bod" ng-controller="IndexController" class="signupForm">

  <div class="header-top">
    <span class="heading">Cards for Humanity</span>
    <span class="header-links">
      <a href="/">Home</a>
    </span>
  </div>
  
  <div class="row signupOverall" id="homer">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l5 signupWrapper">
      <div class="signupHeader">
        Sign up
      </div>
      <br>
      <h4>create a username/password and select an avatar</h4>
      <div class="row">
          <div class="sign-error" style="margin-top: 10px;margin-bottom: 5px;" ng-show="signupErrStatus">
              <span style="color: red; font-family:'Delius'">{{signupErrMsg}}</span>
          </div>
        <form class="col s12">
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="name" name="name" ng-model="name" type="text" class="validate" >
              <label for="name">Full Name</label>
            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="email" ng-model="email" type="email" name="email" class="validate" >
              <label for="Email">Email</label>

            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="password" ng-model="password" type="password" name="password" class="validate" >
              <label for="password">Password</label>
            </div>
          </div>
          <div id="contain-avatars" class="row signUp">
            <ul ng-controller="IndexController" class="input-field avatar-list">
              <li ng-repeat="avatar in avatars" class="input-field avatars ng-scope">
                <input name="avatar" class="with-gap" type='radio' value="{{$index}}">
                  <img ng-src="{{avatar}}" width="50px">
                </input>
              </li>
            </ul>
          </div>  
          <div class="row">
            <button id="sign-up-btn-other" ng-click="signup()" type='submit' 
            class="col s12 signinBtn waves-effect waves-light btn btn-signin">SIGN UP</button>
          </div>
        </form>
      </div>
      <div class="signinSocial">
        <hr>
        <p>or sign up with</p>
        <a href="/auth/facebook">
          <img src="/img/icons/facebook.png" width="50px" height="50px" alt="facebook">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/github">
          <img src="/img/icons/github.png" width="50px" height="50px" alt="github">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/google">
          <img src="/img/icons/google-plus.png" width="50px" height="50px" alt="google">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/twitter">
          <img src="/img/icons/twitter.png" width="50px" height="50px" alt="facebook">
        </a>
        <br><br>
      </div>
    </div>
    <div class="col s12 m4 l3"><p></p></div>
  </div>
</div>



