<div id="main-bod" ng-controller="IndexController" class="signupForm">

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <span class="heading">Cards for Humanity</span>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/#!/">Home</a></li>
        <li ng-show="showOptions"><a href="#!/signup" class="secondary-link">Sign Up</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/#!/">Home</a></li>
        <li ng-show="showOptions"><a href="#!/signup" class="secondary-link">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="row signupOverall" id="homer">
    <div class="col s12 m12 l3"><p></p></div>
    <div class="col s12 m12 l6 signupWrapper">
      <div class="signupHeader">
        Sign up
      </div>
      <br>
      <h4>create a username/password and select an avatar</h4>
      <div class="row">
          <div class="sign-error" style="margin-top: 10px;margin-bottom: 5px;" ng-show="signupErrStatus">
              <span style="color: red; font-family:'Delius'">{{signupErrMsg}}</span>
          </div>
        <form class="col s12">
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="name" name="name" ng-model="name" type="text" class="validate" >
              <label for="name">Full Name</label>
            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="email" ng-model="email" type="email" name="email" class="validate" >
              <label for="Email">Email</label>

            </div>
          </div>
          <div class="row signUp">
            <div class="input-field col s12">
              <input id="password" ng-model="password" type="password" name="password" class="validate" >
              <label for="password">Password</label>
            </div>
          </div>
          <div id="contain-avatars" class="row signUp">
            <ul ng-controller="IndexController" class="input-field avatar-list">
              <li ng-repeat="avatar in avatars" class="input-field avatars ng-scope">
                <input name="avatar" class="with-gap" type='radio' value="{{$index}}">
                  <img ng-src="{{avatar}}" width="50px">
                </input>
              </li>
            </ul>
          </div>  
          <div class="row">
            <button id="sign-up-btn-other" ng-click="signup()" type='submit' 
            class="col s12 signinBtn waves-effect waves-light btn btn-signin">SIGN UP</button>
          </div>
        </form>
      </div>
      <div class="signinSocial">
        <hr>
        <p>or sign up with</p>
        <a href="/auth/facebook" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/facebook.png" width="50px" height="50px" alt="facebook">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/github" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/github.png" width="50px" height="50px" alt="github">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/google" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/google-plus.png" width="50px" height="50px" alt="google">&nbsp;&nbsp;&nbsp;
        </a>
        <!-- <a href="/auth/twitter" style="text-decoration: none; cursor: pointer;">
          <img src="/img/icons/twitter.png" width="50px" height="50px" alt="facebook">
        </a> -->
        <br><br>
      </div>
    </div>
    <div class="col s12 m12 l3"></div>
  </div>
</div>



