<div id="main-bod" ng-controller="IndexController">
  <div class="row signinOverall" id="homer">
    <div class="col s12 m4 l4"><p></p></div>
    <div class="col s12 m4 l5 signinWrapper">
      <div class="signinHeader">
        Login
      </div>
      <br>
      <h4>Signin to your Account</h4>
      <div class="row">
        <div class="sign-error" ng-show="showError() === 'invalid'">
          Please check your username/password and try again.
        </div>
        <form class="col s12" action="/users/session" method="post">
          <div class="row signupIn">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row signupIn">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <br>
          <div class="row">
            <button id="sign-up-btn-other" type='submit' class="col s12 signinBtn waves-effect waves-light btn">SIGN IN</button>
          </div>
        </form>
      </div>
      <div class="signinSocial">
        <hr>
        <p>or sign in with</p>
        <a href="/auth/facebook">
          <img src="/img/icons/facebook.png" width="50px" height="50px" alt="facebook">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/github">
          <img src="/img/icons/github.png" width="50px" height="50px" alt="github">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/google">
          <img src="/img/icons/google-plus.png" width="50px" height="50px" alt="google">&nbsp;&nbsp;&nbsp;
        </a>
        <a href="/auth/twitter">
          <img src="/img/icons/twitter.png" width="50px" height="50px" alt="facebook">
        </a>
        <br><br>
      </div>
    </div>
    <div class="col s12 m4 l3"><p></p></div>
  </div>
</div>
